<!doctype html>
<html>

<head>
  <title>Top Melons</title>
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>

<body>
  <!-- Create a div for every Most Loved Melon using a Jinja for-loop -->
  <!-- write a Jinja FOR loop to create divs for all of the melons in the MOST_LOVED_MELONS dictionary. Do not hardcode the
    information for any of the melons in the template. Make sure that for each melon, the template displays:
      * the melon’s name
      * the melon’s num_loves (number of times it’s been loved)
      * the melon’s image -->
  {% for melon in melons.values() %}
  img = melon['img']
  name = melon['name']
  num_loves = melon['num_loves']

  <div class="melon-div">
    <img src={{img}} alt="Picture of a " {{name}}>
    <h1>{{name}}
    </h1>
    <h2>{{num_loves}} people love this melon!
    </h2>

  </div>
  {% endfor %}

</body>

</html>