<!doctype html>
<html>

{% extends "base.html" %}

{%block content%}

<body>
  <h1 class="heading">Welcome, {{ session['person'] }}!</h1>
  <h2 style="text-align: center;">Our Best-Sellers</h2>
  {% for melon in melons.values() %}
  <div class="melon_div" style="text-align: center;">
    <img class="image" src={{ melon['img'] }} alt="Picture of a melon">
    <h3>{{ session['person']}}, this is a {{ melon['name'] }}.</h3>
    <p style="text-align: center;">{{ melon['num_loves']}} people love this melon!</p>
  </div>
  {% endfor %}
</body>
{%endblock%}

</html>